<header class="navbar navbar-expand navbar-light bg-light justify-content-start game-header">
  <a [routerLink]="['/']"
     class="navbar-brand"
  >
    OurGame
  </a>
  <div class="navbar-nav">
    <a [routerLink]="['/']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="nav-item nav-link"
    >
      ToDo
    </a>
    <a [routerLink]="['/constructor/games']"
       routerLinkActive="active"
       class="nav-item nav-link"
    >
      Игры
    </a>
  </div>
</header>
<div class="container-fluid">
  <div class="row game-content">
    <div class="col">
<!--      ToDo: for removal-->
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-balloon-error></app-balloon-error>
